body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(0, 0, 128));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
